body {
    background: white;
    font-family: "Source Sans", helvetica, arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

* {
    list-style: none;
    padding: 0;
}

.wrapper {
    margin: 20px;
    width: 200px;
}

.tickets-li {
  padding: 10px;
  margin-bottom: 7px;
  background-color: #f6f6f6;
}

.tickets-li:hover {
  background-color: #c5e4ff;
}

.topcoat-button--large,
.topcoat-button--large--quiet {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.688rem;
  padding: 0 0.875rem;
}

#checknow {
    width: 200px;
}
